// General
$mainColor: #28a693;
$white: #FFFFFF;
$disabledColor: #195350;

html {
  font-family: 'Roboto Slab', serif;
  background-color: $mainColor;
  color: $white;
}

#sentence {
  text-align: center;
  align-items: center;
}

.segment {
  font-size: 32px;
  display: inline-block;
}

.answer {
  display: inline-block;
  text-align: center;
  padding: 10px;

  img {
    display: block;
    margin: 0 auto;
  }

  input {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 3px solid $white;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    color: $white;
  }

  input:focus {
    outline: none;
  }

  p.result {
    font-size: 32px;
  }

  p.correct {
    color: #5ad78c;
  }

  p.incorrect {
    color: #e8806d;
  }
}

#buttons {
  display: block;
  text-align: center;
  margin-top: 20px;

  button {
    margin: 2px;
    font-family: 'Roboto Slab', serif;
    color: $white;
    font-size: 16px;
    border: 0;
    background: lighten($mainColor, 10%);
    height: 50px;
    width: 100px;
    cursor: pointer;
  }

  button:hover, button:focus {
    outline: none;
    background: darken($mainColor, 10%);
  }

  button:disabled {
    color: darken($mainColor, 5%);
    background: darken($mainColor, 2%);
  }
}

#score {
  text-align: center;
}
